<main class="bg-gray-100 flex justify-center items-center min-h-screen">
  <div class="w-full max-w-[900px] bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4 text-center text-gray-700">
      My To do list
    </h2>
    <div class="space-y-4 mb-4">
      <div class="flex">
        <input
          id="task"
          type="text"
          class="flex-grow border border-gray-300 rounded-l-lg p-2"
          placeholder="Task"
          [(ngModel)]="taskObj.taskName"
        />
      </div>
      <div class="flex">
        <input
          id="task-desc"
          type="text"
          class="flex-grow border border-gray-300 rounded-l-lg p-2"
          placeholder="Task Description"
          [(ngModel)]="taskObj.taskDescription"
        />
      </div>
      <div class="flex">
        <input
          id="task-date"
          type="date"
          class="flex-grow border border-gray-300 rounded-l-lg p-2"
          [(ngModel)]="taskObj.dueDate"
        />
      </div>
      <div class="flex">
        <input
          id="task-tags"
          type="text"
          class="flex-grow border border-gray-300 rounded-l-lg p-2"
          placeholder="Tags (comma separated)"
          [(ngModel)]="taskObj.tags"
        />
      </div>
      @if (taskObj.itemId==0) {
      <button
        id="add-btn"
        class="bg-blue-500 hover:bg-blue-600 text-white w-full py-2 rounded-lg"
        (click)="addAnNewTask()"
      >
        Add Task
      </button>
      }@else {
      <button
        id="add-btn"
        class="bg-green-500 hover:bg-blue-600 text-white w-full py-2 rounded-lg"
        (click)="updateTask()"
      >
        Update
      </button>
      }
    </div>
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th
            class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
          >
            Id
          </th>
          <th
            class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
          >
            Task
          </th>
          <th
            class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
          >
            Due Date
          </th>
          <th
            class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
          >
            Tags
          </th>
          <th
            class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider"
          >
            Description
          </th>
          <th class="px-6 py-3 border-b-2 border-gray-300">Action</th>
        </tr>
      </thead>
      <tbody id="todo-list">
        @for (item of taskList; track 'itemId') {
        <tr>
          <td class="text-center">
            {{ item?.itemId }}
          </td>
          <td class="text-center">
            {{ item?.taskName }}
          </td>
          <td class="text-center">
            {{ item?.dueDate | date : "dd-MMM-YY" }}
          </td>
          <td class="text-center">
            {{ item?.tags }}
          </td>
          <td class="text-center">
            {{ item?.taskDescription }}
          </td>
          <td class="flex gap-2 items-center">
            <button
              id="add-btn"
              class="bg-green-500 hover:bg-blue-600 text-white w-full py-2 rounded-lg mr-3"
              (click)="onEdit(item)"
            >
              Edit
            </button>
            <button
              id="add-btn"
              class="bg-red-500 hover:bg-blue-600 text-white w-full py-2 rounded-lg"
              (click)="deleteTaskById(item?.itemId)"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>

<router-outlet />
